body{
    background-image: url("aust5.jpg");
   background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
}
.logo {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    display: flex;
    align-items: start;
   /* animation: logoSlideIn 1s ease-out forwards;*/
    margin-right:1000px;
    margin-top:0px;
}
.flight {
    font-size: 30px;
    color: #ff6347;
    margin-right: 10px; 
    animation: flightMove 2s infinite;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes flightMove {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }}

  @keyframes logoSlideIn {
            0% { opacity: 0; transform: translateX(-100%); }
            100% { opacity: 1; transform: translateX(0); }
        }

@keyframes fly {
            0% { transform: translateY(0); }
            50% { transform: translateY(-10px); }
            100% { transform: translateY(0); }
        }
nav{
    display:flex;
    height:80px;
    width:100%;
    justify-content:space-between;
    background-color:#ffffff;
    width:100%;
    height:50px;
    margin:0px 0px;
    border:2px solid white;
    outline:white solid 8px;
    
    
}
.nav-bar ul{
    display:flex;
    gap:25px;
}
.nav-bar ul li{
    list-style:none;
    display:flex;
    justify-content:space-between;
    text-align:center;
    gap:3px;
    
}
.nav-bar ul li a{
    display:flex;
    text-decoration:none;
    justify-content:space-between;
    text-align:center;
    gap:3px;
    color:black;
}
.nav-bar .content1{
    margin-left: 15px;
   margin-bottom:80px;
    text-align:center;
   
}
.nav-bar .content2 a{
    margin-right:25px;
    margin-top:60px;
    text-align:center;
    text-decoration:none;
    color:black;
    justify-content:center;

}
div.imp{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.imp .content3{
    text-align:center;
    justify-content:center;
   position:relative;
   bottom:15px;
   left:30px;
    
}
div.imp .content4{
    text-align:center;
    gap:0px;
    position:relative;
    left:450px;
    margin-left:50px;
    bottom:18px;
}
.imp .content4 .side1{
    margin-top:200px;
}

div.content6{
   text-align:center;
   margin-right:100px;
   margin-bottom:50px;
}
h3.left1{
    border:2px solid black;
    outline:black solid 2px;
    color:red;
    background-color:black;
    margin-top:10px;
}
h3.ryt1{
    border:2px solid black;
    outline:black solid 2px;
    color:red;
    background-color:black;
}
h3.side1{
    border:2px solid black;
    outline:black solid 2px;
    color:red;
    background-color:black;
}
h3.left1 div.img3{
    gap:0px;
}
div.content5{
    text-align:center;
    margin-right:100px;
    margin-left:550px;
    margin-bottom:50px;
    bottom:3px;
 }
 div.content5{
    text-align:center;
    justify-content:center;
 }
 div.content3 .content4{
    justify-content:space-between;
 }
 button.main3:hover{
    background-color:rgb(52, 226, 232)  !important;
    transform: scale(0.95);
    cursor:pointer;
 }
 button.side3:hover{
    background-color:rgb(52, 226, 232)  !important;
    transform:scale(0.95);
    cursor:pointer;
 }
 button.left3:hover{
    background-color:rgb(52, 226, 232)  !important;
    transform:scale(0.95);
    cursor:pointer;
 }
 button.ryt3:hover{
    background-color:rgb(52, 226, 232)  !important;
    transform:scale(0.95);
    cursor:pointer;
 }
 div.content2 a:hover{
    background-color:rgb(52, 226, 232)  !important;
    transform:scale(0.95);
    cursor:pointer;
 }
